.img-here {
  float: right;
  width: 20%;
  height: 100%;
}

.subtle {
  color: #888;
  font-size: 12px;
}

.card-media {
  height: 135px;
  margin-bottom: 40px;
  width: 100%;
}

.card-media-object-container {
  background: none;
  float: left;
  height: 110%;
  width: 100%;
  position: relative;
}

.card-media-body {
  background-color: #fff;
  float: left;
  height: 100%;
  padding: 12px 15px;
  position: relative;
  width: 80%;
}
