@import './styles/variables';
@import "~bootstrap/scss/bootstrap";

body {
  background-color: $darkgray;
}

.imgH3 {
  padding-left: 10px;
  padding-bottom: 20px;
  padding-right: 10px;
}

#aritlces-add-container-form{
  
}